@model CarRent.Models.DataViewModels.SiteViewModel

@{
    ViewData["Title"] = "Sites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sites</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sites)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Site" asp-action="Details" asp-route-id="@item.SiteID" class="btn btn-outline-dark btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-area="" asp-controller="Site" asp-action="Create" class="btn btn-outline-primary">Create</a>
    </div>
</div>