@model CarRent.Models.DataViewModels.CarViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

<div class="container">
    <div class="row">
        @foreach (var car in Model.Cars)
        {
            <div class="col">
                <div class="row">
                    <a asp-area="" asp-controller="Car" asp-action="Details" asp-route-id="@car.CarID" class="btn" style="width: 100%; height: 100%; position: relative;">
                        <img src="http://via.placeholder.com/150x100" width="150" height="100" />
                        @*<img src="~/images/@car.NumberPlate/@car.Image.Path" width="150" height="100" />*@
                    </a>
                </div>
                <div class="row">@car.Brand</div>
                <div class="row">@car.Price Ft/day</div>
            </div>
        }
    </div>
</div>
