<div id="map" style="height: 400px; width: 100%; background-color: gray;"></div>
<script>
      function initMap() {
          var uluru = { lat: 47.497912, lng: 19.040235};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8agkpEWRNjB5widoO_V5v2-cbO6GybkI&callback=initMap">
</script>
