@model CarRent.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Most popular cars</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Price
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="CarDetails" asp-route-id="@item.CarID" class="btn btn-sm btn-light">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>