@using Microsoft.AspNetCore.Identity
@using CarRent.DAL.Models

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("ADMIN"))
    {
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Car" asp-action="Index" class="nav-link">Cars</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Site" asp-action="Index" class="nav-link">Sites</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Rent" asp-action="Index" class="nav-link">Rents</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Customize Page</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            </li>
        </ul>
        <!--
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Car" asp-action="Index" class="nav-link">Cars</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Site" asp-action="Index" class="nav-link">Sites</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Rent" asp-action="Index" class="nav-link">Rents</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Customize Page</a>
            </li>
        </ul>
            -->
    }
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class=”nav-item”>
            <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
        </li>
    </ul>
}